/* generic classes */
.top-pad{
	padding-top:20px;
}
.pad{
	padding:5px;
}
.menu{
	background-color:#35383B;
	padding:10px;
}
.menubox{
	background-color:#35383B;
	color:#ffffff;
	padding:10px;
	cursor: pointer;
}
.menuboxactive{
	background-color:#ffffff;
	color:#000000;
	border-bottom:2px #07BEE5 solid;
	padding:10px;
	cursor: pointer;
}

.menubox:hover{
	background-color:#ffffff;
	color:#000000;
	padding:10px;
	cursor: pointer;
}

.borderbottom{
	border-bottom:1px #9EABB4 solid;
}

.borderleft{
	border-left:1px #9EABB4 solid;
}

.displaycursor{
	cursor: pointer;
}
.hideElement{
	display:none;
}
.rightpad{
	padding-right:10px;
}
.reducedicon{
	padding-right:20px;
	font-size:50%;
}
.loadspinner{
	position: fixed;
	top: 30%;
	left: 50%;
/* 	margin-left: -20px; half width of the spinner gif */
/* 	margin-top: -50px; half height of the spinner gif */
	text-align: center;
	z-index: 1234;
	overflow: auto;
	width: 220px; /* width of the spinner gif */
	height: 20px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.popupbox{
	position: fixed;
	top: 25%;
	left: 45%;
	background-color:#ffffff;
	border:2px solid; 
	text-align: center;
	z-index: 1234;
	overflow: auto;
	padding:10px;
	width: 500px; 
	height: 300px; 
}

.demoname{
	cursor:pointer;	
}
.policyhead{
	padding-bottom:30px;
	padding-top:10px;
	border-top:1px #000000 solid;
}

.policyrow{
	padding:10px;
	border-bottom:1px #E6E6E6 solid;
}
.halfwidth{
	padding-right:30%;
}
.statrow{
	padding-right:5px;
}
.configrow{
	padding:10px;
	margin:10px;
	border-bottom:1px #E6E6E6 solid;
}
.contentHeaderBox{
	padding:15px;
	font-size:120%;
	border-bottom:1px #C1CDC1 dotted;
}

.issuebox{
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:2px #848484 solid;
}

.issueboxheaderissue{
	padding:10px;
	background-color:#292F51;
	color:#ffffff;
}

.issueboxheaderbug{
	padding:10px;
	background-color:#992828;
	color:#ffffff;
}
.issueboxdesc{
	padding:10px;
	background-color:#FFFFFF;
}

.issueboxdesc:hover{
	padding:10px;
	background-color:#EEEEEE;
}

.projectmenu{
	padding-left:10px;
	font-size:70%;
	cursor:pointer;
}
.projectBox{
	padding:15px;
	font-size:120%;
	border-bottom:1px #C1CDC1 dotted;
}
.projectBox:hover{
	background-color:#C1CDC1;
	color:#000000;
}

.demomenu{
	padding-left:10px;
	cursor:pointer;
}
.gxbox{
	padding:12px;
}
.underlinedbutton{
	border-bottom:2px #992828 solid;
}

.demoBox{
	padding:10px;
	font-size:120%;
	background-color:#E6E6E6;
}

.asettingbox{
	padding:10px;
	font-size:120%;
	border-bottom:1px #40C5AA solid;
/* 	border-left:1px #40C5AA solid; */
}
.asettingbox:hover{
/* 	padding:10px; */
/* 	font-size:120%; */
/* 	border-bottom:1px #C5405B solid; */
	border-right:3px #C5405B solid;
}
.activeproject{
	background-color:#373737;
	color:#ffffff;
}
.pdprow{
	padding:15px;
	font-size:120%;
	border-bottom:1px #C1CDC1 dotted;
}
.pdprow:hover{
	background-color:#C1CDC1;
	color:#000000;
}

.repsetting{
	background-color:#373737;
	color:#ffffff;
	padding:10px;
	margin:10px;
}

.repsettingselect{
	background-color:#ffffff;
	color:#000000;
	border:1px dotted;
	padding:10px;
	margin:10px;
}


/* slider */
.onoffswitch {
	position: relative;
	width: 112px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 0px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 26px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid transparent;
	background-clip: padding-box;
}

.onoffswitch-inner:before {
	content: "BUG";
	padding-left: 10px;
	background-color: #CE260B;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "FEATURE";
	padding-right: 10px;
	background-color: #AFB9BA;
	color: #333333;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 25px;
	margin: 0px;
	background: #000000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 87px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

/* close issue */
.isclosedswitch {
	position: relative;
	width: 112px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.isclosedswitch-checkbox {
	display: none;
}

.isclosedswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 0px;
}

.isclosedswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.isclosedswitch-inner:before, .isclosedswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 26px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid transparent;
	background-clip: padding-box;
}

.isclosedswitch-inner:before {
	content: "CLOSE";
	padding-left: 10px;
	background-color: #CE260B;
	color: #FFFFFF;
}

.isclosedswitch-inner:after {
	content: "REPLY";
	padding-right: 10px;
	background-color: #AFB9BA;
	color: #333333;
	text-align: right;
}

.isclosedswitch-switch {
	display: block;
	width: 25px;
	margin: 0px;
	background: #000000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 87px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.isclosedswitch-checkbox:checked+.isclosedswitch-label .isclosedswitch-inner {
	margin-left: 0;
}

.isclosedswitch-checkbox:checked+.isclosedswitch-label .isclosedswitch-switch {
	right: 0px;
}


/* IDS */

#mainDisplayContainer{
	display:none;
	min-height: 500px;
	padding:5px;
	border-bottom:1px #9EABB4 solid;
}
#mainForms{
	min-height: 500px;
	padding:5px;
	border-bottom:1px #9EABB4 solid;
}
#formsList{
	display:none;
}
#createproject{
	display:none;
}
#createdemo{
	display:none;
}
#logdisplay{
	font-size:70%;
}
/********** TAGS **************/
html {
  overflow-y: scroll;
}